<html>
  <head>
    <title>V Station</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/static/bootstrap_5.0/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
  </head>
  <body style="font-family: 'Arial', sans-serif !important;">
  <br>
  <span>User Info</span>
  <table class="table table-striped">
        <thead class="thead-dark">
            <tr>
                <th scope="col">nick_name</th>
                <th scope="col">hit_rate</th>
                <th scope="col">hit_cnt</th>
                <th scope="col">total_cnt</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ user.nick_name }}</td>
                <td>{{ user.hit_rate }}</td>
                <td>{{ user.hit_cnt }}</td>
                <td>{{ user.total_cnt }}</td>
            </tr>
        </tbody>
    </table>

  <br>
  <span>Chart Info</span>

    <div style="width: 100%; overflow-x: auto; ">
        <div style="width: {{len(matchList)*50+200}}px;" >
            <canvas id="myChart" height="550" width="0" ></canvas>
        </div>
    </div>

  <br>
  <span>Match Info</span>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>match_date</th>
        <th>tournament_name</th>
        <th>home_team_name</th>
        <th>score</th>
        <th>away_team_name</th>
        <th>article_url</th>
      </tr>
    </thead>
    <tbody>
    {% for match in matchList %}
      <tr>
        <td>{{ match.match_date }}</td>
        <td>{{ match.tournament_name }}</td>
        <td>{{ match.home_team_name }}</td>
        <td>{{ match.home_team_score }}:{{ match.away_team_score }}</td>
        <td>{{ match.away_team_name }}</td>
        <td><a href="{{match.article_url}}" target="_blank">Article Link</a></td>
      </tr>
    {% endfor %}
    </tbody>
  </table>

  <script type="text/javascript" src="{{ url_for('static', filename='chartjs/Chart.js') }}" ></script>
  <script src="/static/bootstrap_5.0/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
  <script type="text/javascript" >
  var rectangleSet = false;

  var labels=[
  {% for match in matchList %}
  '{{str(match.match_date)[0:10]}}',
  {% endfor %}
  ];
  var data= [
  {% for match in matchList %}
    {
        y:'{{cal_total_hit_cnt(match)}}',
        tournament_name:"{{match.tournament_name}}",
        home_team:"{{match.home_team_name}}: {{match.home_team_score}}",
        away_team:"{{match.away_team_name}}: {{match.away_team_score}}",
        article_url: "{{match.article_url}}",
        predictList:[
        {% for idx, predict in enumerate(match.predictList) %}
            {
            play_type: '{{predict.play_type}}',
            predict_result: '{{predict.predict_result}}',
            real_result: '{{predict.real_result}}',
            is_hit: '{{predict.is_hit}}',
            current_left: '{{predict.current_left}}',
            current_right: '{{predict.current_right}}',
            current_middle: '{{predict.current_middle}}',
            ovalue: '{{predict.ovalue}}'
            },
        {% endfor %}
        ]
    },
  {% endfor %}
  ];
  backgroundColor= [
  {% for match in matchList %}
    {% if len(match.predictList)>1 %}
                'rgba(255, 99, 132, 1)',
    {% else %}
        'rgba(75, 192, 192, 1)',
    {% endif %}
  {% endfor %}
  ];

canvasDom = document.getElementById('myChart')
var ctx = canvasDom.getContext('2d');
var myChart = new Chart(ctx, {
    type: 'line',
    data: {
        labels: labels,
        datasets: [{
            label: 'Hit Cnt',
            fill: false,
            borderColor:"rgb(75, 192, 192)",
            lineTension:0,
            backgroundColor: backgroundColor,
            data: data
        }]
    },
    options: {
        layout: {
          padding: {
            top: 100,
             bottom: 150,
          }
       },
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero: true,
                    stepSize: 1,
                    min: -2,
                    max: 2,
                }
            }],
            xAxes: [{
<!--                type: 'linear',-->
<!--                offset: true,-->
<!--display: false, -->
                ticks: {
<!--                callback: function(){return '11111'},-->
<!--                    align: 'end',-->
<!--                        sampleSize: 1,-->
<!--                        autoSkip: false,-->
<!--                        labelOffset:100,-->
<!--                        padding:100,-->
<!--                    display: false,-->
<!--                        tickWidth: 5000,-->
                },
<!--                afterSetDimensions: function(axes) {-->
<!--                        axes.maxWidth = 165;-->
<!--                },-->
<!--                afterFit: function(scale) {-->
<!--                     scale.width = 800 //<&#45;&#45; set value as you wish-->
<!--                  },-->
<!--                  scaleLabel: {-->
<!--                   display: true,-->
<!--                   labelString: 'Match Date',-->
<!--                },-->
              }],
        },
        legend: {
            display: false
        },
        tooltips: {
            // Disable the on-canvas tooltip
            enabled: true,
             position: "average",
            tooltipCaretSize: 0,
            intersect: false,
            mode: 'nearest',
            axis: 'x',
            callbacks: {
                title: function(tooltipItem, data) {
                  return data['labels'][tooltipItem[0]['index']];
                },
                label: function(tooltipItem, data) {
                    dataObj = data['datasets'][0]['data'][tooltipItem['index']];
                    labelList = [dataObj['home_team'],dataObj['away_team']]
                    predictList = dataObj['predictList']
                    for (let i = 0; i < predictList.length; i++) {
                        predict = predictList[i]
                        labelList.push("----------------------")
                        if (predict['play_type'] == '1'){
                            var playTypeStr="正常";
                        }else if(predict['play_type'] == '2'){
                            var playTypeStr="让";
                        }else if(predict['play_type'] == '3'){
                            var playTypeStr="总";
                        }else{
                            var playTypeStr=predict['play_type'];
                        }

                        labelList.push('play_type: '+playTypeStr)
                        labelList.push('predict_result: '+predict['predict_result'])
                        labelList.push('real_result: '+predict['real_result'])
                        if (predict['is_hit'] =='1'){
                            var isHitStr="Yes";
                        }else{
                            var isHitStr="No";
                        }
                        labelList.push('is_hit: '+isHitStr)
                        labelList.push('主场赔率: '+predict['current_left'])
                        labelList.push('客场赔率: '+predict['current_right'])
                        labelList.push('平局赔率: '+predict['current_middle'])
                        labelList.push('球数: '+predict['ovalue'])
                    }
                    return labelList
                },
              },
        }
    }
});

canvasDom.onclick=function(evt){
    var points = myChart.getElementsAtEventForMode(evt, 'nearest', { intersect: false }, true);
<!--    var points = myChart.getElementsAtEvent(evt);-->
    if (points.length){
        var firstPoint = points[0];
        var dataIdx = firstPoint._index;
        var datasetIdx=firstPoint._datasetIndex
        activeData = myChart.data.datasets[datasetIdx].data[dataIdx];
        article_url=activeData['article_url']
        window.open(article_url, '_blank');
    }

};


</script>
</body>
</html>
